#section1{
    background-color: red;
    border: solid black 2px;
}

#section2{
    background-color: orange;
    border: solid black 2px;
}

#section3{
    background-color: yellow;
    border: solid black 2px;
}

#section4{
    background-color: green;
    border: solid black 2px;
}

#section5{
    background-color: blue;
    border: solid black 2px;
}

#section6{
    background-color: indigo;
    border: solid black 2px;
}

#section7{
    background-color: violet;
    border: solid black 2px;
}

#section8{
    background-color: pink;
    border: solid black 2px;
}

#section9{
    background-color: rosybrown;
    border: solid black 2px;
}

#section10{
    background-color: firebrick;
    border: solid black 2px;
}

#section11{
    background-color: wheat;
    border: solid black 2px;
}

#section12{
    background-color: aqua;
    border: solid black 2px;
}

body{
    background-color: white;
}

.number{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#parent{
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}